.container{
    box-shadow: 5px 5px 10px rgb(138, 136, 136);
    border-radius: 1rem;
    padding: 1rem;
}
.dob{
    box-shadow: 1px 1px 2px rgb(208, 204, 204);
    height: 2rem; 
    border-radius: 0.4rem;
}
.backArrow{
    box-shadow: 2px 2px 5px rgb(150, 149, 149);

}